<!-- templates/final.html -->
<!DOCTYPE html>
<html class="h-full" data-kt-theme="true" data-kt-theme-mode="light" dir="ltr" lang="ko">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{% block title %}Team Project{% endblock %}</title>
  <!-- 파비콘 링크 제거: 기본 브라우저 아이콘 사용 -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"/>
  <link rel="stylesheet" href="{{ url_for('static', path='assets/final/vendors/apexcharts/apexcharts.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', path='assets/final/vendors/keenicons/styles.bundle.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', path='assets/final/css/styles.css') }}"/>
</head>
<body class="antialiased flex h-full text-base text-foreground bg-background">
  {% block content %}{% endblock %}

  <script src="{{ url_for('static', path='assets/final/js/core.bundle.js') }}"></script>
  <script src="{{ url_for('static', path='assets/final/vendors/ktui/ktui.min.js') }}"></script>
  <script src="{{ url_for('static', path='assets/final/vendors/apexcharts/apexcharts.min.js') }}"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
